.works-section {
  width: 1280px;
  margin: auto;
}
.works-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.works_left {
  margin-right: 90px;
}

.works_right {
  width: 50%;
}

.works_right {
  margin-left: 48px;
}

.works-left-img {
  width: 250px;
  margin: 0 auto
}

.works-position {
  background: #FFFFFF;
  box-shadow: 0px 4px 24px #c3dceb;
  border-radius: 46px;
  z-index: -1;
  position: relative;
  height: 300px;
  width: 400px;
  margin-top: -100px;
}

.works-position p {
  font-weight: 600;
  font-size: 20px;
  color: #111D5E;
  position: absolute;
  top: 40%;
  left: 35%;
}

.works-position-detail {
  font-weight: 600;
  font-size: 20px;
  color: #111D5E;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 27%;
}

.works-left-content1 {
  background: #111D5E;
  border-radius: 22px;
  color: white !important;
  padding: 8px 16px;
  max-width: fit-content;
  position: absolute;
  top: 45%;
  margin-left: -40px;
  transform: translate(0, -50%);
}

.works-left-content2 {
  background: #111D5E;
  border-radius: 22px;
  color: white !important;
  padding: 8px 16px;
  max-width: fit-content;
  position: absolute;
  top: 80%;
  margin-left: -40px;
}

.works-left-content3 {
  background: #111D5E;
  border-radius: 22px;
  color: white !important;
  padding: 8px 16px;
  max-width: fit-content;
  position: absolute;
  top: 35%;
  right: 0;
  margin-right: -100px;
}

.works-left-content4 {
  background: #111D5E;
  border-radius: 22px;
  color: white !important;
  padding: 8px 16px;
  max-width: fit-content;
  position: absolute;
  top: 65%;
  margin-right: -100px;
  right: 0;
}

.works-right-title {
  font-weight: 600;
  font-size: 50px;
  color: #20AAB7;
}

.works-right-content {
  border-left: 4px solid #f8a401;
  padding-left: 12px;
  font-weight: 400;
  font-size: 20px;
  color: black;
}

@media(max-width:1280px) {
  .works_control {
    display: block;
    margin-top: 150px;
  }

  .works_left,
  .works_right {
    width: 90%;
    margin: 0 auto
  }

  .works_right {
    margin-top: 48px;
  }
}

@media(max-width:768px) {
  .works_left_control {
    width: 95%;
  }

  .works_left_control {
    height: 340px;
  }

  .works_left_content3,
  .works_left_content4 {
    margin-right: -20px;
  }

  .works_left_img {
    width: 55%;
  }

  .works_right_title {
    font-size: 32px;
  }

  .works_right_content {
    font-size: 24px;
  }

}

@media(max-width:450px) {
  .works_left_control p {
    top: 25%;
    font-size: 20px;
  }

  .works_left_content img {
    width: 24px !important;
  }

  .works_left_content {
    top: 46%;
    font-size: 14px;
  }

  .works_right_title {
    font-size: 24px;
  }

  .works_right_content {
    font-size: 16px;
  }
}