.publish-button {
  border: 2px solid #111D5E;
}
.publish-button:hover {
  background-color: white;
  color: #111D5E;
}
.add-button {
  border: 2px solid #111D5E;
}
.add-button:hover {
  background-color: #111D5E;
  color: white;
}
.active {
  background-color: #111D5E;
  color: white;
}