.getStarted-section {
  max-width: 1280px;
  margin: auto;
  margin-top: 100px;
}

.getStarted-title-group {
  width: 70%;
  margin: 0 auto;
}

.getStarted-title {
  font-weight: 600;
  font-size: 50px;
  color: #20AAB7;
  text-align: center;
}

.getStarted-intro {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  margin-top: 20px;
}

.getStared-register {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.getStarted-left {
  img {
    width: 300px;
    margin: auto;
  }
  .getStarted-content {
    margin-top: -130px;
    background: #F0EBEB;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 130px;
    position: relative;
    z-index: -1;
    width: 450px;
    .getStarted-content-title {
      font-weight: 600;
      font-size: 30px;
      text-align: center;
      color: #20AAB7;
      margin-top: 20px;
    }
    .getStarted-content-intro {
      font-weight: 400;
      font-size: 20px;
      color: #000000;
      text-align: center;
    }
    .register-button {
      padding: 10px 0px;
      width: 200px;
      background: #111D5E;
      border-radius: 25px;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      color: #FFFFFF;
      margin: 0 auto;
    }
  }
}

@media(max-width:1024px) {
  .getStarted-left,
  .getStarted-right {
    width: 90%;
  }

  .getStarted-content {
    margin-top: 80px;
  }
}

@media(max-width:768px) {

  .getStarted-content-title,
  .getStarted-title {
    font-size: 24px;
  }

  .getStarted-content-intro,
  .getStarted-intro {
    font-size: 18px;
  }

  .getStarted-content button {
    font-size: 32px;
    padding: auto;
  }
}

@media(max-width:540px) {

  .getStarted-content-title,
  .getStarted-title {
    font-size: 24px;
  }

  .getStarted-content-intro,
  .getStarted_intro {
    font-size: 16px;
  }

  .getStarted-content button {
    font-size: 24px;
  }
}