.arrow1_img {
  width: 400px;
  margin-left: 56%;
  margin-top: 50px;
  z-index: -12;
  position: relative;
}

@media(max-width:1024px) {
  .arrow1_img {
    width: 40%;
  }
}

@media(max-width:840px) {
  .arrow1_img {
    margin-top: 30px;
  }
}
