.mind-section {
  max-width: 1280px;
  margin: auto;
  margin-top: 100px;
}
.mind-image {
  width: 50px;
}

.mind-title {
  font-weight: 600;
  font-size: 50px;
  color: #20AAB7;
  margin-left: 20px;
}

.list-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.mind-lists {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.mind-item img {
  width: 400px;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  transition: all 0.5s ease;
}

.mind-item img:hover {
  transform: scale(1.0);
}

.mind-content {
  background: #FFFFFF;
  box-shadow: 0px 4px 11px rgb(0 0 0 / 25%);
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  z-index: 9;
  width: 400px;
  padding: 24px 24px;
  text-align: center;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.content-title {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}
.content-button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.content-button img {
  width: 20px;
}
.content-button div {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}

@media(max-width:1600px) {
  .mind_content {
    width: 350px
  }
}

@media(max-width:1280px) {
  .mind_lists {
    display: block;
  }

  .mind_item {
    width: 100%;
    margin-top: 180px;
  }

}

@media(max-width:768px) {
  .mind_title {
    font-size: 48px;
  }
}

/* @media(max-width:540px) {
  .mind_title {
    font-size: 24px;
  }
} */