@media(max-width:1280px) {
  .job-board-box {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media(max-width:1280px) {
  .job-board-box {
    max-width: 720px;
  }
}
@media(max-width:720px) {
  .job-board-box {
    max-width: 720px;
  }
  .job-board-container {
    flex-direction: column;
    align-items: center;
  }
  .job-board-left {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .job-board-individual-input {
    width: 45%;
  }
  .job-board-right {
    width: 100%;
  }
}