.footer_top_section {
  background: #F7F7F7;
  padding: 73px 0px;
  border-bottom: 3px solid #F1F1F1;
}

.footer_top_container,
.footer_bottom_container {
  max-width: 1280px;
  margin: auto;
}

.footer-find-job p {
  font-weight: 600;
  color: #20AAB7;
  max-width: 400px;
}

.footer-find-job button {
  background: #111D5E;
  border-radius: 25px;
  width: 200px;
  padding: 10px;
  border: none;
  margin-top: 56px;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}

.footer-top-item {
  font-weight: 400;
  font-size: 20px;
  flex-direction: column;
  gap: 30px;
}

.footer-top-item h4 {
  font-weight: 600;
  line-height: 60px;
  color: #000000;
}

.footer-top-item div {
  cursor: pointer;
}

.footer_bottom_section {
  background: #F7F7F7;
  padding: 47px 0px;
}
.footer_bottom_control {
  max-width: 1280px;
  align-items: flex-end;
}

.footer_bottom_left p {
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}

.social_group img {
  cursor: pointer;
}

@media(max-width:768px) {

  .footer_top_container,
  .footer_bottom_container {
    text-align: center;
  }

  .footer_top_control {
    display: block;
  }


  .footer-find-job p {
    max-width: initial;
  }

  .footer-top-item h4 {
    margin: 24px 0px
  }

  .footer_bottom_control {
    display: block;
  }
}

@media(max-width:540px) {
  .footer-find-job p {
    font-size: 36px;
  }

  .social_group {
    justify-content: center;
    margin-top: 36px;
    gap: 10px
  }
}